@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400&family=Staatliches&display=swap");
* {
  padding: 0%;
  margin: 0%;
  border: 0%; }

.info {
  background-color: #353831;
  color: #ffffff;
  height: 25px; }
  .info__block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
    .info__block .block__text {
      font-family: "Aleo", serif;
      font-size: 16px;
      font-weight: 400; }

.header {
  background-color: #2D2D2A; }
