//colors
$green-main:#20FC8F;
$gren-dark: #3F5E5A;
$gray-first: #38423B;
$gray-second: #353831;
$black: #2D2D2A;
$white: #ffffff;

//fonts
$font-principal:'Aleo', serif;
$font-secundario:'Staatliches', cursive;